Repository dacrab/ioannislo, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 frontend, 💻 code, ⚙️ config, 📦 dependencies, 📚 documentation, 🚀 ci/cd, 🔨 build, 🧹 maintenance

chore: remove deprecated workflows and update CI configuration
  .github/dependabot.yml
  .github/kodiak.toml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/spell-check.yml
Labels: 🚀 ci/cd

chore: update dependencies and enhance CI configuration
  .github/workflows/ci.yml
  bun.lock
Labels: 📦 dependencies, 🚀 ci/cd

chore: update dependencies and improve code formatting
  .github/workflows/ci.yml
  bun.lock
  package.json
  src/components/About.astro
  src/components/Contact.astro
  src/components/Hero.astro
  src/components/Navigation.astro
  src/components/Skills.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/brutalist.css
Labels: 🎨 frontend, 💻 code, 📦 dependencies, 🚀 ci/cd

chore: remove obsolete CI and CodeQL workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
Labels: 🚀 ci/cd

chore: simplify spell checking configuration in CI workflow
  .github/workflows/main.yml
  cspell.config.json
Labels: ⚙️ config, 🚀 ci/cd, 🔨 build

.github/labeler.yml:

# Auto-labeling configuration for PRs

# Frontend/UI changes
"🎨 frontend":
  - src/components/**/*
  - src/styles/**/*
  - src/layouts/**/*
  - "**/*.astro"
  - "**/*.css"

# TypeScript/JavaScript changes
"💻 code":
  - "**/*.ts"
  - "**/*.tsx"
  - "**/*.js"
  - "**/*.jsx"

# Configuration changes  
"⚙️ config":
  - "*.config.*"
  - "tsconfig.json"
  - ".eslintrc*"
  - ".prettierrc*"
  - "astro.config.mjs"

# Dependencies
"📦 dependencies":
  - package.json
  - bun.lock
  - package-lock.json

# Documentation
"📚 documentation":
  - "**/*.md"
  - "**/*.mdx"
  - README.md
  - docs/**/*

# GitHub Actions/CI
"🚀 ci/cd":
  - .github/workflows/**/*
  - .github/dependabot.yml

# Build/deployment
"🔨 build":
  - dist/**/*
  - "*.config.*"

# Maintenance/chores
"🧹 maintenance":
  - .gitignore
  - .prettierignore
  - LICENSE
